body {
  margin: 0;
  padding: 0; }

.wrapper {
  padding: 10px; }

.lists {
  display: flex;
  justify-content: space-evenly; }

.tableArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  user-select: none;
  flex-grow: 1;
  flex-shrink: 1; }

.tableElement {
  font-family: monospace;
  font-size: 15px;
  color: black;
  border: 1px solid gray;
  padding: 5px 5px 5px 5px;
  flex-basis: 23%;
  width: 200px;
  flex-grow: 1;
  flex-shrink: 1; }

.tableTopElement {
  text-align: center;
  flex-grow: 1;
  font-family: monospace;
  font-size: 15px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid gray;
  padding: 5px 5px 5px 5px;
  flex-basis: 23%; }

.sortButton {
  margin-left: 5px;
  position: relative;
  height: 10px;
  cursor: pointer;
  transform: rotate(90deg); }

.backSortButton {
  position: relative;
  height: 10px;
  cursor: pointer;
  transform: rotate(270deg); }

.btn {
  position: absolute;
  left: 500px;
  width: 100px;
  height: 100px;
  background-color: gray; }

.cellsArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  user-select: none; }

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 1px;
  background-color: gray;
  transition: .3s ease-in background-color;
  cursor: pointer;
  font-family: monospace;
  font-size: 15px;
  color: black;
  font-size: 20px;
  font-weight: bold; }

.dynamic-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  user-select: none;
  margin-bottom: 20px; }

.pageNumbers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  user-select: none;
  margin-bottom: 20px; }

.list_item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 1px;
  background-color: gray;
  transition: .3s ease-in background-color;
  cursor: pointer;
  font-family: monospace;
  font-size: 15px;
  color: black;
  font-size: 20px;
  font-weight: bold; }

.list_item:hover {
  background-color: lightblue; }

.item:hover {
  background-color: lightblue; }

.active {
  background-color: dodgerblue;
  transition: .3s ease-in background-color; }

