body {
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 10px;
}

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tableArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.tableElement {
  font-family: monospace;
  font-size: 15px;
  color: black;
  border: 1px solid gray;
  padding: 5px 5px 5px 5px;
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  width: 200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.tableTopElement {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: monospace;
  font-size: 15px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid gray;
  padding: 5px 5px 5px 5px;
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
}

.sortButton {
  margin-left: 5px;
  position: relative;
  height: 10px;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.backSortButton {
  position: relative;
  height: 10px;
  cursor: pointer;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.btn {
  position: absolute;
  left: 500px;
  width: 100px;
  height: 100px;
  background-color: gray;
}

.cellsArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  margin: 1px;
  background-color: gray;
  -webkit-transition: .3s ease-in background-color;
  transition: .3s ease-in background-color;
  cursor: pointer;
  font-family: monospace;
  font-size: 15px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.dynamic-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 20px;
}

.pageNumbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 20px;
}

.list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  margin: 1px;
  background-color: gray;
  -webkit-transition: .3s ease-in background-color;
  transition: .3s ease-in background-color;
  cursor: pointer;
  font-family: monospace;
  font-size: 15px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.list_item:hover {
  background-color: lightblue;
}

.item:hover {
  background-color: lightblue;
}

.active {
  background-color: dodgerblue;
  -webkit-transition: .3s ease-in background-color;
  transition: .3s ease-in background-color;
}
/*# sourceMappingURL=style.css.map */