body {
  margin: 0;
  padding: 0;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: monospace;
  font-size: 15px;
  color: black;
  border: none;
  margin-right: 10px;
}

.tableArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 50px 50px 50px;
  width: 1720px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 3px black solid;
}

.titlesArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.tableTopElement {
  border: 1px solid gray;
  text-align: center;
  font-family: monospace;
  font-size: 15px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  width: 100%;
}

.sortButton {
  display: inline-block;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 5px;
}

.backSortButton {
  display: inline-block;
  cursor: pointer;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  margin-right: 5px;
}

.cellsArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.cellsArea > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tableElement {
  font-family: monospace;
  font-size: 15px;
  color: black;
  padding: 5px 5px 5px 5px;
  width: 100%;
  border: 1px solid gray;
}

.btnList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1720px;
  margin-top: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dynamic-list {
  font-family: monospace;
  font-size: 15px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pagBtnsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dynamicListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  margin: 1px;
  background-color: gray;
  -webkit-transition: .3s ease-in background-color;
  transition: .3s ease-in background-color;
  cursor: pointer;
  font-family: monospace;
  font-size: 15px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.dynamicListItem:hover {
  background-color: lightblue;
}

.pagListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  margin: 1px;
  background-color: gray;
  -webkit-transition: .3s ease-in background-color;
  transition: .3s ease-in background-color;
  cursor: pointer;
  font-family: monospace;
  font-size: 15px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.pagListItem:hover {
  background-color: lightblue;
}

.active {
  background-color: dodgerblue;
  -webkit-transition: .3s ease-in background-color;
  transition: .3s ease-in background-color;
}

@media (max-width: 1750px) {
  .tableArea {
    width: 1500px;
  }
  .btnList {
    width: 1500px;
  }
}

@media (max-width: 1550px) {
  .tableArea {
    width: 1300px;
  }
  .btnList {
    width: 1300px;
  }
}

@media (max-width: 1350px) {
  .tableArea {
    width: 1000px;
  }
  .btnList {
    width: 1000px;
  }
}

@media (max-width: 1050px) {
  .tableArea {
    width: 700px;
  }
  .btnList {
    width: 700px;
  }
}
/*# sourceMappingURL=style.css.map */